{% block body %}
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="#">Home</a>
                <a class="blog-nav-item" href="#">New features</a>
                <a class="blog-nav-item" href="#">Press</a>
                <a class="blog-nav-item" href="#">New hires</a>
                <a class="blog-nav-item" href="#">About</a>
            </nav>
        </div>
    </div>

    <div class="container">
    
        <div class="blog-header">
            <h1 class="blog-title">The Food Blog</h1>
            <p class="lead blog-description">The official example of Eve website.</p>
        </div>
    
        <div class="row">
        
            <div class="col-sm-8 blog-main">
            
                {% block content %}
                {% endblock %}
            
            </div>
            
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                {% block sidebar %}
                    <div class="sidebar-module sidebar-module-inset">
                        <h4>About</h4>
                        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                    </div>
                    <div class="sidebar-module">
                        <h4>Categories</h4>
                        <ol class="list-unstyled">
                            {% for category in this.allCategories %}
                                <li><a href="#">{{ category.name }}</a></li>
                            {% endfor %}
                        </ol>
                    </div>
                {% endblock %}
            </div>
        
        </div>
    
    </div>

    <footer class="blog-footer">
        <p>Example Blog build with <a href="http://cadosolutions.com/eve/">Eve Framework</a>. </p>
        <p>Uses blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p><a href="#">Back to top</a></p>
    </footer>
{% endblock %}